<template>
<div
  class="job-card card border-secondary mx-2 my-3"
  @click="$emit('open-job',id)"
  :title="tooltip">
 <div class="card-body">
  <h5 class="card-title text-capitalize">{{ title }}</h5>
  <p class="text-muted">{{ company }}</p>
 </div>
</div>
</template>

<script>
export default {
  props: [
    'id',
    'title',
    'company',
    'date_modified'
  ],
  computed: {
    tooltip () {
      let modified = new Date(this.date_modified)
      return `Last updated ${modified.toLocaleString()}`
    }
  }
}
</script>

<style scoped>
.job-card:hover {
  cursor: pointer;
  box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.2);
  transform: translateY(-2px);
  transition: transform 0.1s ease;
}
</style>
