<template>
<div class="container mb-3">
 <notifications />
 <form method="post" id="editForm" @submit.prevent="updateJob">
 <h2
   class="mt-3 text-capitalize"
   @dblclick="edit"
   v-if="!editMode"
   title="Double click to edit">
   {{ job.position_title }}
 </h2>
 <input
   type="text"
   class="form-control mt-3"
   @blur="edit"
   @keydown.enter.prevent="edit"
   v-show="editMode"
   v-model="job.position_title"
   ref="positionTitle">
 <loader :loading="loading"/>
  <div class="row">
   <div class="col-md-6">
    <div class="form-group">
     <label>Company</label>
     <input type="text" class="form-control" v-model="job.company" placeholder="Awesome company inc.">
    </div>
   </div>
    <div class="col-md-3">
     <div class="form-group">
      <label>Status</label>
      <select class="form-control" v-model="job.status">
       <option v-for="option in options" :value="option.value" :key="option.value">
         {{ option.display_name }}
       </option>
      </select>
     </div>
    </div>
    <div class="col-md-3">
     <div class="form-group">
      <label>Date Applied</label>
      <input type="date" class="form-control" v-model="job.date_applied">
     </div>
    </div>
   </div>
   <div class="row">
    <div class="col-md-6">
     <div class="form-group">
      <label>Url</label>
      <div class="input-group">
       <span class="input-group-prepend" v-if="job.url">
        <a class="btn btn-outline-primary" :href="job.url" target="_blank">Go</a>
       </span>
       <input type="url" class="form-control" v-model.lazy="job.url">
      </div>
     </div>
    </div>
    <div class="col-md-3">
     <div class="form-group">
      <label>Salary</label>
      <input type="text" class="form-control" min="0" max="1000000" step="1000" v-model="job.salary">
     </div>
    </div>
   </div>
   <h3 class="mt-3 p-1 bg-secondary text-white">Contact</h3>
   <div class="form-group">
    <label>Contact name</label>
    <input type="text" class="form-control" v-model="job.contact_person" placeholder="Jane Recruiter">
   </div>
   <div class="row">
   <div class="col-md-6">
   <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" v-model="job.contact_email" placeholder="recruiter@job.com">
   </div>
   </div>
   <div class="col-md-6">
   <div class="form-group">
    <label>Phone Number</label>
    <input type="text" class="form-control" v-model="job.phone_number">
   </div>
   </div>
   </div>
   <h4 class="text-white bg-secondary p-1">Support Information</h4>
   <label>Application Data</label>
   <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
     <a class="nav-link" :class="{active: !job.application_data}" id="markdown-tab" data-toggle="tab" href="#md" role="tab" aria-controls="markdown">Raw</a>
    </li>
    <li class="nav-item">
     <a class="nav-link" :class="{active: job.application_data}" id="preview-tab" data-toggle="tab" href="#preview" role="tab" aria-controls="preview">Preview</a>
    </li>
   </ul>
   <div class="tab-content">
    <div class="tab-pane fade" :class="{active: !job.application_data, show: !job.application_data}" id="md" role="tabpanel" aria-labelledby="raw-tab">
     <div class="form-group mt-3 mb-3">
      <textarea class="form-control" rows="5" v-model.lazy="job.application_data"></textarea>
     </div>
    </div>
    <div class="tab-pane fade" :class="{active: job.application_data, show: job.application_data}" id="preview" role="tabpanel" aria-labelledby="preview-tab">
     <div class="form-group mt-3 mb-3">
      <div class="card mt-3 mb-3 p-3" v-html="markdown"></div>
     </div>
    </div>
   </div>
 </form>
 <button type="submit" class="btn btn-outline-primary" form="editForm"><font-awesome-icon :icon="['far','check-circle']"/> Save</button>
 <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteJob">
  <font-awesome-icon :icon="['far','trash-alt']"/> Delete
 </button>
 <div class="modal" id="deleteJob" tabindex="-1" role="dialog">
  <div class="modal-dialog">
   <div class="modal-content">
    <div class="modal-header bg-danger">
     <h5 class="modal-title">Delete Job</h5>
     <button data-dismiss="modal" class="close" aria-label="close">
      <span aria-hidden="true">&times;</span>
     </button>
    </div>
    <div class="modal-body">
     <p>Are you sure you want to delete this job</p>
    </div>
    <div class="modal-footer">
     <button class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
     <button class="btn btn-outline-danger" @click="deleteJob">
       <font-awesome-icon :icon="['far', 'trash-alt']"/> Delete</button>
    </div>
   </div>
  </div>
 </div>
</div>
</template>

<script>
import showdown from 'showdown'
import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
import Loader from './Loader.vue'
import Notifications from './Notifications.vue'
import client from '../client'
import { mapState, mapGetters, mapActions } from 'vuex'
import * as jQuery from 'jquery'

export default {
  components: {
    FontAwesomeIcon,
    Loader,
    Notifications
  },
  data () {
    return {
      loading: true,
      errored: false,
      editMode: false,
      job: {}
    }
  },
  computed: {
    markdown () {
      const converter = new showdown.Converter({tasklists: true})
      return converter.makeHtml(this.job.application_data)
    },
    ...mapState({
      options: 'statusOptions'
    }),
    ...mapGetters({
      config: 'apiConfig'
    })
  },
  watch: {
    '$route': 'fetch'
  },
  methods: {
    ...mapActions([
      'notify',
      'setStatusOptions'
    ]),

    enter () {
      console.log('enter pressed')
    },

    edit () {
      this.editMode = !this.editMode
      if (this.editMode) {
        this.$nextTick(() => {
          this.$refs.positionTitle.focus()
        })
      }
    },

    updateJob () {
      client.updateJob(this.job, this.config)
        .then(() => this.notify({text: `${this.job.position_title} updated successfully`, alert: 'success'}))
        .catch(() => this.notify({text: 'Something went wrong', alert: 'danger'}))
    },
    deleteJob () {
      jQuery('#deleteJob').modal('hide')
      let title = this.job.position_title
      client.deleteJob(this.job.id, this.config)
        .then(() => {
          this.notify({text: `${title} successfully deleted`, alert: 'success'})
          this.$router.push({name: 'main'})
        })
        .catch(() => console.log('ruhrrur'))
    }
  },
  created () {
    if (!this.options) {
      this.setStatusOptions()
    }
    client.fetchOne(this.$route.params.id, this.config)
      .then(data => { this.job = data })
      .catch(() => this.notify({ text: 'Failed to load job', alert: 'danger' }))
      .finally(() => { this.loading = false })
  }
}
</script>
