<template>
<div class="container-fluid">
 <notifications />
 <h1 class="mt-3">Dashboard</h1>
 <loader :loading="loading"/>
 <button class="btn btn-outline-primary mb-2" data-toggle="modal" data-target="#addModal" @click="addClick">
  <font-awesome-icon icon="plus" /> Add
 </button>
 <template v-for="group in Object.keys(groupedJobs)">
  <div :key="group">
  <h5 class="text-white bg-info px-3 py-2">{{ group }}</h5>
  <div class="d-flex flex-wrap">
   <job-card
     v-for="job in groupedJobs[group]"
     :key="job.id"
     :id="job.id"
     :title="job.position_title"
     :company="job.company"
     :date_modified="job.date_modified"
     v-on:open-job="openjob"
     style="min-width:200px; max-width:300px;"></job-card>
  </div>
  </div>
 </template>
 <div class="modal" tabindex="-1" role="dialog" id="addModal">
  <div class="modal-dialog">
   <div class="modal-content">
    <div class="modal-header">
     <h5 class="modal-title">Add Job</h5>
     <button type="button" class="close" data-dismiss="modal" aria-label="close">
      <span aria-hidden="true">&times;</span>
     </button>
    </div>
    <div class="modal-body">
     <form id="jobAdd" method="post" @submit.prevent="addJob">
      <div class="form-group">
       <label>Position Title</label>
       <input type="text" class="form-control" required v-model="jobTitle" id="jobtitle" ref="jobtitle"/>
      </div>
     </form>
    </div>
    <div class="modal-footer">
     <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
     <button type="submit" class="btn btn-outline-primary" form="jobAdd">Save</button>
    </div>
   </div>
  </div>
 </div>
</div>
</template>

<script>
import JobCard from './JobCard.vue'
import Loader from './Loader.vue'
import Notifications from './Notifications.vue'
import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
import client from '../client'
import { mapGetters, mapState, mapActions } from 'vuex'
import * as jQuery from 'jquery'

export default {
  name: 'Listing',
  components: {
    Loader,
    JobCard,
    Notifications,
    FontAwesomeIcon
  },
  data () {
    return {
      jobTitle: '',
      jobs: [],
      loading: true
    }
  },
  computed: {
    ...mapGetters({
      config: 'apiConfig'
    }),
    ...mapState([
      'statusOptions'
    ]),
    groupedJobs () {
      return this.jobs.reduce((groups, item) => {
        const label = this.statusOptions.find(el => el.value === item['status'])
        const val = label.display_name
        groups[val] = groups[val] || []
        groups[val].push(item)
        return groups
      }, {})
    }
  },
  methods: {
    ...mapActions([
      'notify',
      'setStatusOptions'
    ]),
    openjob (id) {
      this.$router.push({name: 'job', params: {id}})
    },
    addClick () {
      this.$nextTick(() => this.$refs.jobtitle.focus())
    },
    addJob () {
      jQuery('#addModal').modal('hide')
      client.addJob(this.jobTitle, this.config)
        .then(() => {
          this.notify({text: 'Job added successfully', alert: 'success'})
          this.fetchJobs()
          this.jobTitle = ''
        })
        .catch(error => {
          this.notify({text: 'Error adding job. Try again later', alert: 'warning'})
          console.error(error)
        })
    },
    fetchJobs () {
      client.fetchAll(this.config)
        .then(data => { this.jobs = data })
        .catch(() => this.notify({text: 'Error fetching jobs', alert: 'danger'}))
        .finally(() => { this.loading = false })
    }
  },
  created () {
    this.setStatusOptions()
    this.fetchJobs()
  }
}
</script>
