<template>
<div class="loader" v-if="loading">
  <font-awesome-icon :icon="['fas','spinner']" size="5x" spin/>
</div>
</template>

<script>
import FontAwesomeIcon from '@fortawesome/vue-fontawesome'

export default {
  components: {
    FontAwesomeIcon
  },
  props: {
    loading: {
      type: Boolean,
      required: true
    }
  }
}
</script>

<style>
.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;
}
</style>
