<template>
<div class="container p-5 login">
 <notifications />
 <h2>Job Application Tracker</h2>
 <form method="post" @submit.prevent="login">
  <div class="form-group">
   <label>Username</label>
   <input type="text" class="form-control" v-model="username" autofocus required>
  </div>
  <div class="form-group">
   <label>Password</label>
   <input type="password" class="form-control" v-model="password" required>
  </div>
  <input type="submit" value="Log in" class="btn btn-primary btn-lg btn-block">
 </form>
</div>
</template>

<script>
import Notifications from './Notifications.vue'
import { mapActions } from 'vuex'

export default {
  components: {
    Notifications
  },
  data () {
    return {
      username: '',
      password: ''
    }
  },
  methods: {
    ...mapActions([
      'notify',
      'getToken'
    ]),
    login () {
      const payload = {
        user: this.username,
        pass: this.password
      }
      this.getToken(payload)
        .then(() => this.$router.push({name: 'main'}))
        .catch(error => {
          error.response.data.non_field_errors.forEach(el => {
            this.notify({ text: el, alert: 'danger' })
          })
        })
    }
  }
}
</script>

<style>
.login {
  max-width: 500px;
}
</style>
