<template>
 <div class="container p-5">
  <h2>Thanks for using JAT</h2>
  <p>Click <router-link :to="{ name:'login' }">here</router-link> to login again</p>
 </div>
</template>

<script>
export default {
  created () {
    this.$store.dispatch('logout')
  }
}
</script>
