<template>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
   <router-link :to="{ name: 'main' }" class="navbar-brand">JAT</router-link>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link">
            <font-awesome-icon :icon="['far', 'user-circle']"/>
             {{ username }}
          </a>
        </li>
        <li class="nav-item">
           <router-link :to="{ name: 'logout' }" class="nav-link" title="Log out">
             <font-awesome-icon :icon="['fas', 'sign-out-alt']"/>
           </router-link>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script>
import 'bootstrap'
import 'bootstrap/dist/css/bootstrap.css'
import { mapGetters } from 'vuex'
import FontAwesomeIcon from '@fortawesome/vue-fontawesome'

export default {
  name: 'Navigation',
  components: {
    FontAwesomeIcon
  },
  computed: {
    ...mapGetters([
      'username'
    ])
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
