<template>
 <div>
 <simple-alert
   v-for="(msg, idx) in notifications"
   :message="msg.text"
   :alert="msg.alert"
   :key="idx" />
 </div>
</template>

<script>
import { mapState } from 'vuex'
import SimpleAlert from './SimpleAlert.vue'

export default {
  components: {
    SimpleAlert
  },
  computed: {
    ...mapState([
      'notifications'
    ])
  }
}
</script>
