<template>
<div class="alert fade show mt-2" :class="alertClass" role="alert">
 {{message}}
</div>
</template>

<script>
export default {
  props: {
    alert: {
      type: String,
      default: 'info'
    },
    message: {
      type: String,
      required: true
    }
  },
  computed: {
    alertClass () {
      return `alert-${this.alert}`
    }
  }
}

</script>
