<template>
  <div id="app">
    <navigation v-if="$route.meta.requiresAuth"></navigation>
    <transition>
      <router-view/>
    </transition>
  </div>
</template>

<script>
import Navigation from './components/Navigation.vue'

export default {
  name: 'App',
  components: {
    'navigation': Navigation
  }
}
</script>

<style>
</style>
